@model Skill

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>Skill ID</th>
        <th>Name</th>
        <th>Game</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Game</td>
        <td>@Model.InGameDescription</td>
    </tr>
</table>